.nav-menu {
  width: 15rem;
  background-color: $darkGray;
  overflow-y: scroll;
  position: fixed;
  height: calc(100vh - 3.5rem);
  top: 3.5rem;
}

.menu {
  margin: 0.75rem 0;
  list-style: none;
  padding: 0;

  &__link {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-decoration: none;
    font-size: 0.875rem;

    &--active {
      font-weight: bold;
      background-color: $grayHover;
    }

    &:hover {
      background-color: $grayHover;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 0.875rem;
    text-transform: uppercase;
    padding-left: 1.5rem;
    font-weight: 500;
    color: $lighterGray;
  }
}

.separator {
  width: 100%;
  border: 1px solid #383838;
}

.sub-image {
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.nav-footer {
  ul {
    list-style: none;
    text-align: left;
    font-size: 0.8125rem;
    line-height: 1.2rem;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
  }

  li {
    display: inline;
  }

  a {
    color: $lighterGray;
    text-decoration: none;
    font-weight: 500;
  }

  p {
    font-size: 0.8125rem;
    color: $lightGrayText;
    font-weight: 500;
    padding: 0 1.5rem 1rem 1.5rem;
  }
}