.top-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 3.5rem;
  background-color: $darkGray;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-icon {
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &__yt-icon {
    width: 5rem;
    height: 1.125rem;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 42.25rem;
  margin-left: 2.5rem;

  @include media(small) {
    display: none;
  }

  a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
  }

  &__form {
    display: flex;
    flex-basis: 40rem;
    height: 2rem;
  }

  &__input {
    width: calc(100% - 4rem);
    border: 1px solid $graySearch;
    border-radius: 1px;
    background-color: $darkGraySearch;
    padding: 0.625rem;
    font-size: 1rem;

    &:focus {
      border-color: #3ea6ff;
      outline: none;
    }

  }

  &__button {
    width: 4rem;
    border: none;
    border-radius: 1px;
    background-color: $graySearch;
    cursor: pointer;
    outline: none;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.buttons {
  // width: 13.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-content: center;
    margin-right: 0.5rem;
  }

  &__avatar {
    width: 2rem;
    height: 2rem;
    margin: 0 0.875rem;
    background-color: $grayHover;
    border-radius: 50%;
    background: url(/app/assets/images/abel.jpg);
    background-size: 100%;
    cursor: pointer;
  }
}