// Colors
$veryLightGray: #EEEEEE;
$lighterGray: #9D9D9D;
$lightGray: #909090;
$lightGrayText: #6F6F6F;
$grayHover: #383838;
$graySearch: #313131;
$darkGray: #202020;
$veryDarkGray: #181818;
$darkGraySearch: #121212;